body {
    background-color: rgb(28, 28, 28);
}

.age {
    display: inline;
}

h1,
h2 {
    color: white;
    text-align: center;
}

h2 {
    padding: 120;
    margin: 42;
}

a {
    text-decoration: underline 0.18em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

a:hover {
    text-decoration-color: inherit;
}

.links {
    position: flex;
    /*FIXA TILL BÄTTRE SÄTT*/
}

.green {
    color: rgb(104, 214, 0);
}

.cyan {
    color: rgb(0, 214, 203);
}

.red {
    color: rgb(255, 72, 0);
}

.orange {
    color: rgb(255, 166, 0);
}

.bgVid {
    /*minwidth gör videon fin över hela skärmen men man förlorar lite om man gör sidan mindre, tvärt om med width*/
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}